/* gen rules */
.dom h4 {
    font-weight: 500;
}

.dom p {
    font-weight: 400;
}

.dom .frame {
    align-items: flex-start;
    justify-content: space-between;
}

/* icons colors for items groups and objects*/
.dom .item-icon {
    background-color: rgba(111, 111, 111, 0.25);
    color: rgb(111, 111, 111);
}

.dom [items-type="doors"] .item-icon.active {
    background-color: rgba(24, 128, 56, 0.25);
    color: rgb(24 128 56);
}

.dom [items-type="blinds"] .item-icon.active {
    background-color: rgba(0, 120, 255, 0.25);
    color: rgb(0, 120, 255);
}

.dom [items-type="lights"] .item-icon.active {
    background-color: rgba(255, 215, 59, 0.25);
    color: rgb(255, 215, 59);
}

.dom .item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.dom .item-desc {
    margin-left: 10px;
}

.dom .item-icon {
    display: inline-flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

/* items -> objects */
.dom .items-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dom .items-group .frame {
    width: calc(50% - 10px);
}

/* maitres de caté */
.dom .item-group-type {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.dom .item-group-type>.frame {
    flex-direction: row;
}

.dom .item-group-type>.frame .item-top {
    padding: 0;
}

/* buttons */
.dom .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dom .button {
    width: 100%;
}

.dom .button:not(:first-child) {
    margin-left: 10px;
}

.dom .button.small {
    width: auto;
    padding: 15px;
    aspect-ratio: 1 / 1;
}

@media all and (max-width: 1500px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 800px) {
    .dom .items-group {
        flex-direction: column;
    }

    .dom .items-group .frame {
        width: calc(100% - 10px);
    }
}